@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}
    

<div>
    <!--Personal Info-->
    <br /><br />
    <h1>Brittan Hunter</h1><br />
    <img src="img/IMG-2945.jpg" height="400" /><br /><br />
    <p>
        I hope to gain a better understanding of C# and build proficiency in another tool that I can used to build web applications.
        I also would like to continue to continue to develop a better ability to collaborate with other team members to reach a common goal.
    </p>
    <br />
    <p>Top 3 Jobs After Graduation</p>
    <ul>
        <li>1. Technology Consultant</li>
        <li>2. Business Intelligence Developer</li>
        <li>3. Data Analyst or Data Engineer</li>
    </ul><br />
</div>
